
body{
    margin: 0;
    padding: 0;
}

.whole{
    height: 90vh;
}

nav{
    z-index: 7;
}

.form-container{
    background-color: pink;
}

.container{
    height: 700px;
}

.tabs{
    height: 60px;
    margin-top: 10px;
}

.tabs .tab a,.tabs .tab a:hover, .tabs .tab a.active{
    font-size: 1.5em;
}


img{
    margin-top: -20px;
    height: 100px;
}

nav a span{
    
}
